body {
    background-color: red;
    animation: color-change 1s ease-in-out infinite;
}

.page-header {
    flex-direction: column;
}

#new-participant {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: wheat;
    color: green;
    margin: 24px auto;
    padding: 40px;
    font-size: 1.2rem;
    border-radius: 50px;
}

h1 {
    font-size: 5rem;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.465);
    display: flex;
    justify-content: space-around;
}

label {
    margin: 0px 0px 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 1.4rem;
}

input {
    padding: 5px;
    border: none;
    width: 80%;
}

select {
    padding: 5px;
    font-size: 1.1rem;
    margin: 0px 0px 16px;
    border: none;
}

button {
    background-color: green;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: wheat;
    font-size: 1.2rem;
    box-shadow: 0px 10px 20px -12px rgba(0, 0, 0, 0.45);
    text-transform: uppercase;
    margin: 50px;
}

button:hover {
    background-color: darkgreen;
    cursor: pointer;
}

#back {
    margin-top: 20px;
}
#nav {
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: purple;
    display: flow-root;
}
#nav:hover {
    cursor: pointer;
}
a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.4rem;
    margin-right: 16px;
}

@keyframes color-change {
    0% {
        color: #ec1f2b;
    }
    100% {
        color: green;
    }
}
